.clock {
  --bc: var(--bs);
  --ci: radial-gradient(circle, var(--bc) 30%, rgba(0, 0, 0, 0) 0);

  background-color: var(--whi);
  background-image: var(--ci);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 50% 50%;
  border-radius: 50%;
  border: 3px solid var(--whi);
  position: absolute;
  opacity: 0.8;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
  /* box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px; */
}

.clock::before,
.clock::after {
  animation: rotate var(--s) linear infinite;
  animation-direction: var(--d);
  animation-play-state: running;
  content: "";
  position: absolute;
  transform-origin: bottom center;
}

.clock.s::before,
.clock.a.s::after {
  animation-play-state: paused;
}

.clock::before {
  background: var(--bc);
  height: 50%;
  left: 47%;
  top: 0;
  width: 5%;
}

.clock::after {
  height: 60%;
  left: 43%;
  top: -10%;
  width: 13%;
  /* background-image: linear-gradient(
      to left bottom,
      transparent 50%,
      transparent 0
    ),
    linear-gradient(to right bottom, transparent 50%, transparent 0); */
  background-size: 56% 18%;
  background-position: 110% 2%, 0 2%;
  background-repeat: no-repeat;
}

.clock.a::after {
  background-image: linear-gradient(
      to left bottom,
      transparent 50%,
      var(--whi) 0
    ),
    linear-gradient(to right bottom, transparent 50%, var(--whi) 0);
}

.clock.a {
  --bc: var(--whi);
  --cn: radial-gradient(circle, var(--bs) 30%, rgba(0, 0, 0, 0) 0);
  background-color: rgba(0, 0, 0, 0.6);
  /* Se puede crear dinamicamente */
  background-image: var(--ci), var(--cn), var(--cn), var(--cn), var(--cn);
  background-position: 50% 50%, 50% 2%, 50% 98%, 2% 50%, 98% 50%;
  background-size: 50% 50%, 15% 15%, 15% 15%, 15% 15%, 15% 15%;
  border: none;
  z-index: 10;
  opacity: 1;
}

.clock.a::before {
  background: var(--bc);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
