.car {
  overflow: hidden;
  position: relative;
  width: 90%;
}

/* Contenedor de los slides */
.car-w {
  display: flex;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: 100%;
  height: 510px;
}

/* Cada slide */
.car-s {
  flex: none;
  scroll-snap-align: start;
  position: relative;
}

/* Para que el scroll no se vea al tener overflow:hidden en el contenedor */
.car-w::-webkit-scrollbar {
  display: none;
}

.car-m {
  position: absolute;
  z-index: 10;
  pointer-events: none;
}

.car-m span {
  background-color: black;
  padding: 10px;
}
