:root {
  --bs: #008ef2;
  --whi: white;
}

/* Estilos globales */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  background: #000;
  color: var(--whi);
  font-family: Arial;
  overflow: hidden;
  overscroll-behavior-x: none;
  position: fixed;
  text-transform: uppercase;
  user-select: none;
}

div {
  box-sizing: border-box;
}

#root {
  transition: all 300ms;
}

.wh {
  width: 100%;
  height: 100%;
}

.jc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bor {
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Animations */
/*
@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;

    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;

    transform: scale3d(1, 1, 1);
  }
}
*/
